__pycache__/
*.egg-info/
*.egg
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tgz
*.tbz
*.txz
.tox/
.venv/
env/
venv/
Env/
.venv/
.pytest_cache/
.cache/
Include/
Lib/
share/
Scripts/
pyenv.cfg
